<form [formGroup]="searchForm" novalidate>
<mat-form-field>
  <mat-label>Income</mat-label>
  <mat-select placeholder="Incomes" formControlName = "incomes">
    <mat-option *ngFor="let income of incomes" [value]="income.id">
      {{income.value}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Debt</mat-label>
  <mat-select mplaceholder="Debts" formControlName = "debts">
    <mat-option *ngFor="let debt of debts" [value]="debt.value">
      {{debt.value}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Region</mat-label>
  <mat-select placeholder="Regions" formControlName = "regions">
    <mat-option *ngFor="let region of regions" [value]="region.value">
      {{region.code}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-card-actions>
  <button mat-raised-button type="submit" (click)="onSubmit()"> Submit </button>
</mat-card-actions>
</form>

<!-- <form novalidate [formGroup]="group">
  Name: <input type="text" formControlName="name">
  Location: <input type="text" formControlName="location">
</form> -->

